body 
{
    padding-top:40px; /* Es para offset el navbar */
}

/* TOP BAR * - * - * - * - * - * - * - * - * - * - * - * - * - * - * - * - * - * - * - */

#top-bar
{
	height: 30px;
	background:url(../img/top-bar.png);
	color: white;
}

header 
{
    padding-top:20px;
    padding-bottom:20px;
}

.trisfera-icon
{
    position:absolute;
    left:50%;
    top:0%;
    margin-top:10px;
}

.banner 
{
	display: block;
	margin: 0 auto;
}

.banner-description
{
    text-align:center;
    margin-top:5px;
    color:#626262;
}





/* CONTENT * - * - * - * - * - * - * - * - * - * - * - * - * - * - * - * - * - * - * - */

.section-v /* Secciones verticales*/
{

	/*height:435px;*/
	padding:2px;	
}

.section-v-title
{	
	height:35px;
}
.section-v-content
{
	padding: 15px 15px 10px 15px;
	margin-bottom:15px;
	min-height:340px;
	/*height: 350px;*/
	
}

.section-acercade-content
{
	padding: 15px 15px 10px 15px;
	margin-bottom:15px;
	min-height:170px;
	/*height: 350px;*/
	
}



.content-title
{
    font-weight: bold;
}
#section-comunidad .section-v-content, #section-comunidad .section-acercade-content
{
	border:solid 5px #BD9FC4;
	background:#F2E7F2;
	
}
#section-proyectos .section-v-content, #section-proyectos .section-acercade-content
{
	border:solid 5px #AFDDE9;
	background:#F0F8FB;
}
#section-guias .section-v-content, #section-guias .section-acercade-content
{
	border:solid 5px #D7EFC8;
	background:#F4FAEF;
	
}

#section-4
{
	background:url(../img/section-4.png) no-repeat;
	
}
.element
{
	margin: 10px 0px 0px 0px;
	
	height:40px;
}
.element:hover
{
	cursor:pointer;
}
.element-icon
{
	float:left;
	width:40px;
	height:40px;
}
.element-description
{	
	float:left;
	height:35px;
	color:gray;
	margin: 5px 0px 0px 0px;
	font-size:14px;
	font-family:tahoma;

}
#section-comunidad .element
{
	background:url(../img/section-comunidad_element.png) no-repeat;
}
#section-comunidad .element:hover
{
	background:url(../img/section-comunidad_element_hover.png) no-repeat;
}

#facebook .element-icon
{
	background:url(../img/icon_facebook.png);
	background-size:25px 25px;
	background-position: 7px 7px;
	background-repeat:no-repeat;
}

#twitter .element-icon
{
	background:url(../img/icon_twitter.png);
	background-size:26px 20px;
	background-position: 10px 10px;
	background-repeat:no-repeat;
}

#section-proyectos .element
{
	background:url(../img/section-proyectos_element.png) no-repeat;
}
#section-proyectos .element:hover
{
	background:url(../img/section-comunidad_element_hover.png) no-repeat;
}
#section-guias .element
{
	background:url(../img/section-guias_element.png) no-repeat;
}
#section-guias .element:hover
{
	background:url(../img/section-comunidad_element_hover.png) no-repeat;
}

