body 
{
    padding-top:40px; /* Es para offset el navbar */
}

/* TOP BAR * - * - * - * - * - * - * - * - * - * - * - * - * - * - * - * - * - * - * - */

#top-bar
{
	height: 30px;
	background:url(../img/top-bar.png);
	color: white;
}

header 
{
    padding-top:20px;
    padding-bottom:20px;
}

.trisfera-icon
{
    position:absolute;
    left:50%;
    top:0%;
    margin-top:10px;
}

.banner 
{
	display: block;
	margin: 0 auto;
}

.banner-description
{
    font-size: 15px;
    text-align:center;
    margin-top:8px;
    color: #AFDDE9/*#8CA7AE*/;
    /*font-weight: bold;*/
    text-shadow: 1px 1px 5px #E5FBFF/*CBF4FF*/;
    /*border:solid 5px #BD9FC4;
	background:#F2E7F2;

	border:solid 5px #AFDDE9;
	background:#F0F8FB;

	*/

}

.section-v-content ul
{
	padding:0px;
	margin:0px;
}



.section-v-content ul a:hover
{
	text-decoration:none;
}

.section-v-content li
{
	display: block;
	text-decoration: none;
	padding:5px 5px 5px 15px;
	margin: 0px 0px 10px 0px;
		
	background:transparent;
}

#section-proyectos .section-v-content li
{
	border: 1px solid white/*#AFDDE9*/;
  	-webkit-border-radius: 4px 4px 4px 4px;
    	-moz-border-radius: 4px 4px 4px 4px;
    		border-radius: 4px 4px 4px 4px;

}
#section-proyectos .section-v-content li:hover
{
	background:#AFDDE9;
	color: white;

}
#section-proyectos .section-v-content ul a
{
	color: #4F8B9F;
	font-size:14px;

}

#section-guias .section-v-content li
{
	border: 1px solid white/*#D7EFC8*/;
  	-webkit-border-radius: 4px 4px 4px 4px;
    	-moz-border-radius: 4px 4px 4px 4px;
    		border-radius: 4px 4px 4px 4px;

}
#section-guias .section-v-content li:hover
{
	background:#333;
	color: white;
}
#section-guias .section-v-content ul a
{
	color: #333;
	font-size:14px;

}

#section-comunidad .section-v-content li
{
	border: 1px solid white/*#1C5C94*/;
  	-webkit-border-radius: 4px 4px 4px 4px;
    	-moz-border-radius: 4px 4px 4px 4px;
    		border-radius: 4px 4px 4px 4px;

}
#section-comunidad .section-v-content li:hover
{
	background:#1C5C94;
	color: white;
}
#section-comunidad .section-v-content ul a
{
	color: #1C5C94;
	font-size:14px;

}






/* CONTENT * - * - * - * - * - * - * - * - * - * - * - * - * - * - * - * - * - * - * - */

.section-v /* Secciones verticales*/
{

	/*height:435px;*/
	padding:2px;	
}

.section-v-title
{	
	height:35px;
}
.section-v-content
{
	padding: 15px 15px 10px 15px;
	margin-bottom:15px;
	min-height:315px;
	
}

/* clase para aumentar la altura minima de los contenedores en la pagina de inicio*/

.section-altura
{

	min-height:355px;
	
	
}

.section-acercade-content
{
	padding: 15px 15px 10px 15px;
	margin-bottom:15px;
	min-height:170px;
	/*height: 350px;*/
	
}



.content-title
{
    font-weight: bold;
}
#section-comunidad .section-v-content, #section-comunidad .section-acercade-content
{
	border:solid 5px #5A88B1;
	background:#D5E9FA;
	
}
#section-proyectos .section-v-content, #section-proyectos .section-acercade-content
{
	border:solid 5px #AFDDE9;
	background:#F0F8FB;
}
#section-guias .section-v-content, #section-guias .section-acercade-content
{
	border:solid 5px #333;
	background:#CDCDCD;
	
}

#section-4
{
	background:url(../img/section-4.png) no-repeat;
	
}
.element
{
	margin: 10px 0px 0px 0px;
	
	height:40px;
}
.element:hover
{
	cursor:pointer;
}
.element-icon
{
	float:left;
	width:40px;
	height:40px;
}
.element-description
{	
	float:left;
	height:35px;
	color:gray;
	margin: 5px 0px 0px 0px;
	font-size:14px;
	font-family:tahoma;

}
#section-comunidad .element
{
	background:url(../img/section-comunidad_element.png) no-repeat;
}
#section-comunidad .element:hover
{
	background:url(../img/section-comunidad_element_hover.png) no-repeat;
}

#facebook .element-icon
{
	background:url(../img/icon_facebook.png);
	background-size:25px 25px;
	background-position: 7px 7px;
	background-repeat:no-repeat;
}

#twitter .element-icon
{
	background:url(../img/icon_twitter.png);
	background-size:26px 20px;
	background-position: 10px 10px;
	background-repeat:no-repeat;
}

#section-proyectos .element
{
	background:url(../img/section-proyectos_element.png) no-repeat;
}
#section-proyectos .element:hover
{
	background:url(../img/section-comunidad_element_hover.png) no-repeat;
}
#section-guias .element
{
	background:url(../img/section-guias_element.png) no-repeat;
}
#section-guias .element:hover
{
	background:url(../img/section-comunidad_element_hover.png) no-repeat;
}


.pet-bottom
{
	margin-left:auto;
	margin-right:auto;
	display: block;
	max-width: 100%;
}
