// VARIABLES * - * - * - * - * - * - * - * - * - * - * - * - * - * - *
@azul: #1C5C94;
@azul-claro: #D5E9FA;
@celeste: #AFDDE9;
@celeste-claro: #F0F8FB;
@celeste-oscuro: #4F8B9F;
@gris: #CDCDCD;
@gris-oscuro: #5A5A5A;
@negro: #333;
@height-small: 170px;

// Colores Sección 1 * - * - * - * - * - * - * - * - * - * - * - * - * - * - *
@border-color1: @celeste;
@bg-color1: @celeste-claro;
@hover-color1: @celeste;
@font-color1: @celeste-oscuro;

// Colores Sección 2 * - * - * - * - * - * - * - * - * - * - * - * - * - * - *
@border-color2: @negro;
@bg-color2: @gris;
@hover-color2: @negro;
@font-color2: @negro;

// Colores Sección 3 * - * - * - * - * - * - * - * - * - * - * - * - * - * - *
@border-color3: @azul;
@bg-color3: @azul-claro;
@hover-color3: @azul;
@font-color3: @azul;


/* Estructura básica de todos los paneles */
.panel-structure
{
	padding: 15px 15px 10px 15px;
	margin-bottom:15px;
	border: 5px solid;

	@media (min-width: 768px) {
		min-height:@height-small;
	}
}

.panel-colors (@border-color, @background-color, @font-color)
{
	border-color: @border-color;
	background-color:@background-color;
	color: @font-color;
}



// STYLES * - * - * - * - * - * - * - * - * - * - * - * - * - * - *

.centered
{
	margin-left: auto !important;
	margin-right: auto !important;
  float:none !important;
  display:block !important;
}

header
{
  padding-top:20px;
  padding-bottom:20px;

  .banner
	{
		.centered;
	}

	.banner-description
	{
		font-size: 15px;
		text-align:center;
		margin-top:8px;
		color: @celeste-oscuro;
		text-shadow: 1px 1px 5px @celeste-claro;
	}
}

.panel-small1
{
	.panel-structure;
	.panel-colors (@border-color1, @bg-color1, @font-color1);
}

.panel-small2
{
	.panel-structure;
	.panel-colors (@border-color2, @bg-color2, @font-color2);
}

.panel-small3
{
	.panel-structure;
	.panel-colors (@border-color3, @bg-color3, @font-color3);
}

.panel-header
{
	font-size: 18px;
	font-weight: bold;
	padding-top: 0.5em;
	padding-bottom: 0.3em;
}

// Son las barras de colores al final de la página
.colored-bar1
{
	background-color: @celeste;
}

.colored-bar2
{
	background-color: @negro;
}

.colored-bar3
{
	background-color: @azul;
}