body 
{
    padding-top:40px; /* Es para offset el navbar */
}

.trisfera-icon
{
    position:absolute;
    left:50%;
    top:0%;
    margin-top:10px;
}

header 
{
    padding-top:20px;
    padding-bottom:20px;
    
    .banner 
	{
		display: block;
		margin: 0 auto;
	} 
	
	.banner-description
	{
    font-size: 15px;
    text-align:center;
    margin-top:8px;
    color: #AFDDE9/*#8CA7AE*/;
    /*font-weight: bold;*/
    text-shadow: 1px 1px 5px #E5FBFF/*CBF4FF*/;
    /*border:solid 5px #BD9FC4;
	background:#F2E7F2;

	border:solid 5px #AFDDE9;
	background:#F0F8FB;

	*/
	}
}


.section-v-content 
{
	padding: 15px 15px 10px 15px;
	margin-bottom:15px;
	min-height:315px;
	
	ul
	{
		padding:0px;
		margin:0px;
		
		a
		{
			&:hover{ text-decoration:none; }	
		}
	}
	
	li
	{
		display: block;
		text-decoration: none;
		padding:5px 5px 5px 15px;
		margin: 0px 0px 10px 0px;
		background:transparent;
	}
}

#section-proyectos 
{
	.section-v-content
	{
		border:solid 5px #AFDDE9;
		background:#F0F8FB;
		
		li 
		{
			border: 1px solid white/*#AFDDE9*/;
			-webkit-border-radius: 4px 4px 4px 4px;
				-moz-border-radius: 4px 4px 4px 4px;
					border-radius: 4px 4px 4px 4px;
					
			&:hover
			{
				background:#AFDDE9;
				color: white;
			}
		}
		
		ul a
		{
			color: #4F8B9F;
			font-size:14px;
		}
	}
}

#section-guias 
{
	.section-v-content
	{
		border:solid 5px #333;
		background:#CDCDCD;
		
		li 
		{
			border: 1px solid white/*#D7EFC8*/;
			-webkit-border-radius: 4px 4px 4px 4px;
				-moz-border-radius: 4px 4px 4px 4px;
					border-radius: 4px 4px 4px 4px;
					
			&:hover
			{
				background:#333;
				color: white;
			}
		}
		
		ul a
		{
			color: #333;
			font-size:14px;
		}
	}
}

#section-comunidad 
{
	.section-v-content
	{
		border:solid 5px #5A88B1;
		background:#D5E9FA;
		
		li 
		{
			border: 1px solid white/*#1C5C94*/;
			-webkit-border-radius: 4px 4px 4px 4px;
				-moz-border-radius: 4px 4px 4px 4px;
					border-radius: 4px 4px 4px 4px;
					
			&:hover
			{
				background:#1C5C94;
				color: white;
			}
		}
		
		ul a
		{
			color: #1C5C94;
			font-size:14px;
		}
	}
}

.section-v-title
{	
	height:35px;
}

.section-acercade-content
{
	padding: 15px 15px 10px 15px;
	margin-bottom:15px;
	min-height:170px;
	/*height: 350px;*/
	
}

.content-title
{
    font-weight: bold;
}

#section-comunidad .section-acercade-content
{
	border:solid 5px #5A88B1;
	background:#D5E9FA;
	
}

#section-proyectos .section-acercade-content
{
	border:solid 5px #AFDDE9;
	background:#F0F8FB;
}

#section-guias .section-acercade-content
{
	border:solid 5px #333;
	background:#CDCDCD;
	
}

.pet-bottom
{
	margin: auto;
	display: block;
}
